# macOS system files
.DS_Store
.Trash/

# Python
__pycache__/
*.pyc
*.pyo

# VSCode settings
.vscode/
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.packages
build/

# Node.js
node_modules/

# Personal config files
*.swp
*.swo
.zshrc
.zshenv
.zsh_history
.bash_profile
.bash_history
